# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
venv/
env/
ENV/
.env

# Virtualenv inside backend
octofit-tracker/backend/venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# VSCode
.vscode/

# Distribution
build/
dist/

